---
const { postData } = Astro.props;
const post = postData.post.slice(0, 150) + "...";
---

<div class="singlePost m-3 w-100">
  {
    postData?.image ? (
      <div class="postImage">
        <img src={post.image} />
      </div>
    ) : (
      <div class="postImage">
        <img
          src="https://source.unsplash.com/random"
          class="w-auto"
          height="500px"
        />
      </div>
    )
  }<div class="m-4">
    <div class="postBody">
      <h3>{postData.title}</h3>
      <p>{post}</p>
    </div>
    <h4 class="postMeta">
      By: {postData.author}
    </h4>
    <div class="readmore">
      <h3><a href=`/${postData.slug}`>Read More</a></h3>
    </div>
  </div>
</div>

<style>
  .singlePost {
    /* padding: 1.25em; */

    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
  }
  /* Post Body */
  /* Title */
  /* .postBody,
  .postMeta,
  .readmore {
    padding: 1.25em;
  }
  .postBody h3 {
    font-size: 1.75em;
    margin: 0.5em 0;
  } */
  /* Body */
  /* .postBody p {
    font-size: 1.1em;
    margin-bottom: 1em;
  } */
  /* Post Body */
  /* Post Link */
  .readmore {
    color: black;
  }
  .readmore a {
    text-decoration: wavy underline;
  }
</style>
